<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="LaminasApiProblem Module Tests">
            <directory>./test</directory>
        </testsuite>
        <testsuite name="LaminasApiProblem Module Class tests">
            <file>./ModuleTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
