<?php

/**
 * @see       https://github.com/laminas-api-tools/api-tools-api-problem for the canonical source repository
 * @copyright https://github.com/laminas-api-tools/api-tools-api-problem/blob/master/COPYRIGHT.md
 * @license   https://github.com/laminas-api-tools/api-tools-api-problem/blob/master/LICENSE.md New BSD License
 */

$config = array(
    /*
     * Specify what MIME types the ApiProblemListener will respond to.
     * DEFAULT: application/json
     */
    //'accept_filter' => 'application/hal+json,application/api-problem+json,application/json',
);

/* No need to edit below this line */
return array(
    'api-tools-api-problem' => $config,
);
